<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,  log4net-net-1.0"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>-->
  </configSections>
  <connectionStrings>
  </connectionStrings>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="my_log-file.txt"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%-5p] [%method] [%line] %c %n - %m%n"/>
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="BaggageJobEnable" value="OFF"/>
    <add key="BaggageJobMode" value="AUTO"/> <!--ONCE or AUTO-->
    <add key="BaggageYMD" value="201909"/> <!--ONCE MODE-->
    <add key="Baggage_Trigger" value="0 0 8 2 * ?"/>
    <!--秒，分，時，日，月，年。 每月2號 3點執行-->

    <add key="AdCheckJobEnable" value="OFF"/>
    <add key="AdCheckJobMode" value="ONCE"/>    <!--ONCE or AUTO-->
    <add key="AdCheck_Trigger" value="0 0 8 * * ?"/>
    <!--秒，分，時，日，月，年。 每天 8點執行-->
    
    <add key="EwbsWebAuthSyncJobEnable" value="OFF"/>
    <add key="EwbsWebAuthSyncJobMode" value="ONCE"/>    <!--ONCE or AUTO-->
    <add key="EwbsWebAuthSync_Trigger" value="0 0 8 * * ?"/>
    <!--秒，分，時，日，月，年。 每天 8點執行-->
    
    <add key="HousekeepingEnable" value="OFF"/>
    <add key="Housekeeping_Trigger" value="30/0 * * * * ? *"/>
    <add key="DeleteEnable" value="OFF"/>
    <add key="CompressEnable" value="OFF"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <add key="ADSysID" value="ewbs"/>
    <add key="ADSysCode" value="Q5XCMmlT9aLMfut/LmVAcw=="/>
    <add key="Sendto" value="bunnychen@evaair.com,eddieliao@evaair.com,nickyang@evaair.com,friedalin@evaair.com,terriliu@evaair.com,cherrysychen@evaair.com"/>
    <!--<add key="Sendto" value="cherrysychen@evaair.com" />-->
    <add key="IpMask" value="10.3.76"/>

    <!--<寄信 />-->
	  <add key="FileMonitorJobEnable" value="ON" />
	  <add key="FileMonitor_Trigger" value="1/0 * * * * ? *" />
	  <add key="FileMonitorPath" value="C:\EWBS_QA\FDB"/>
	  <!--MAIL通知人員 -->
	  <add key="mailList" value=""/>
	  <!-- Email server IP-->
	  <add key="Email_Server" value="10.3.76.138"/>
	  <add key="Email_Server_SSL" value="10.3.76.139"/>
	  <add key="SendFrom" value="serviceEWBS@paxsvc1.evaair.com"/>
	  <add key="DisplayName" value="EVA weight balance"/>
	  <add key="SendTo" value="cherrysychen@evaair.com,GRPLMS@evaair.com" />


	  <add key="LogPath" value=""/>
    <add key="DeletePath" value=""/>
    <!--<add key="BasePath" value="C:\\ewbs_fdb" />-->
    <add key="BasePath" value="\\EWBSWS3\ewbs"/>
    <add key="EWBSConn" value="User ID=EWBS; Password=@p12@ewbs202405; Data Source=(DESCRIPTION =(ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = dbrace01-vip.evaair.com)(PORT = 6275))(ADDRESS = (PROTOCOL = TCP)(HOST = dbrace02-vip.evaair.com)(PORT = 6275))(ADDRESS = (PROTOCOL = TCP)(HOST = dbrace03-vip.evaair.com)(PORT = 6275)) (ADDRESS = (PROTOCOL = TCP)(HOST = dbrace04-vip.evaair.com)(PORT = 6275))) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = stndb))); "/>   

    <!-- 觸發器設定說明
     WithCronSchedule  0/15 * * * * ? *
     秒，分，時，周，月，年。
     其中每個元素可以是一個值(如6),一個連續區間(9-12),一個間隔時間(8-18/4)(/表示每隔4小時),一個列表(1,3,5)。
     月份中的日期"和"星期中的日期"這兩個元素互斥的,必须要對其中一個設置?.
     特殊字符 意義
     * 表示所有值；
     ? 表示未說明的值，即不在乎它為何值；
     - 表示一個指定的範圍；
     , 表示附加一個可能值；
     / 符號前表示開始時間，符號後表示每次遞增的值；
     L("last") ("last") "L" 用在day-of-month字段意思是 "這個月最後一天"；用在 day-of-week字段, 它簡單意思是 "7" or "SAT"。
     如果在day-of-week字段里和數字聯合使用，它的意思就是 "這個月的最後一個星期幾" – 例如： "6L" means "這個月的最後一個星期五".
     当我们用“L”時，不指明一個列表值或者範圍是很重要的，不然的話，我们會得到一些意想不到的结果。
     W("weekday") 只能用在day-of-month字段。用來描述最接近指定天的工作日（周一到周五）。
     例如：在day-of-month字段用“15W”指“最接近這個 月第15天的工作日”，即如果這個月第15天是周六，那麼觸發器話會在這個月第14天即周五觸發；
     如果這個月第15天是周日，那麼觸發器會在這個月第 16天即周一觸發；如果這個月第15天是周二，那麼就在觸發器這天觸發。
     注意一點：這個用法只會在当前月計算值，不會越過当前月。
     “W”字符僅能在 day-of-month指明一天，不能是一個範圍或列表。也可以用“LW”來指定這個月的最後一個工作日。
     # 只能用在day-of-week字段。用來指定這個月的第幾個周幾。例：在day-of-week字段用"6#3"指這個月第3個周五（6指周五，3指第3個）。
     如果指定的日期不存在，觸發器就不會觸發。
     C 指和calendar聯繫後計算過的值。例：在day-of-month 字段用“5C”指在這個月第5天或之後包括calendar的第一天；
     在day-of-week字段用“1C”指在這周日或之後包括calendar的第一天。
     0 0 10,14,16 * * ? 每天上午10點，下午2點，4點
     0 0/30 9-17 * * ?   朝九晚五工作時間内每半小時
     0 0 12 ? * WED 表示每個星期三中午12點
     0 0 12 * * ?" 每天中午12點觸發
     0 15 10 ? * *" 每天上午10:15觸發
     0 15 10 * * ?" 每天上午10:15觸發
     0 15 10 * * ? *" 每天上午10:15觸發
     0 15 10 * * ? 2005" 2005年的每天上午10:15觸發
     0 * 14 * * ?" 在每天下午2點到下午2:59期間的每1分鐘觸發
     0 0/5 14 * * ?" 在每天下午2點到下午2:55期間的每5分鐘觸發
     0 0/5 14,18 * * ?" 在每天下午2點到2:55期間和下午6點到6:55期間的每5分鐘觸發
     0 0-5 14 * * ?" 在每天下午2點到下午2:05期間的每1分鐘觸發
     0 10,44 14 ? 3 WED" 每年三月的星期三的下午2:10和2:44觸發
     0 15 10 ? * MON-FRI" 周一至周五的上午10:15觸發
     0 15 10 15 * ?" 每月15日上午10:15觸發
     0 15 10 L * ?" 每月最後一日的上午10:15觸發
     0 15 10 ? * 6L" 每月的最後一個星期五上午10:15觸發
     0 15 10 ? * 6L 2002-2005" 2002年至2005年的每月的最後一個星期五上午10:15觸發
     0 15 10 ? * 6#3" 每月的第三個星期五上午10:15觸發
    -->

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
